@tailwind utilities;
@import "tailwindcss";

body {
  background-color: #01161a;
  background-repeat: no-repeat;
  color: #fff;
}

.btnFont {
  font-family: 'jeju';
}

.roboto {
  font-family: 'roboto';
}

.road {
  font-family: 'road';
}

@font-face {
  font-family: 'jeju';
  src: url(./assets/JejuMyeongjo-Regular.ttf);
}

@font-face {
  font-family: 'roboto';
  src: url(./assets/Roboto.ttf);
}

@font-face {
  font-family: 'road';
  src: url(./assets/RoadRage.ttf);
}