@tailwind utilities;
@import "tailwindcss";

body {
  background-color: #01161a;
  color: #fff;
}

.btnFont {
  font-family: 'jeju';
}

@font-face {
  font-family: 'jeju';
  src: url(./assets/JejuMyeongjo-Regular.ttf);
}